.bg-color{
    background-color: #333333;
}
.text-nav a, button, li, input{
    color: white
}
body{
    background-color: #333333;
    color: white;
}
.img-zoom{
    transition: transform 0.5s;
}
.img-zoom:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.07); 
}
.card {
    overflow: hidden;
}

.button-send{
    font-weight: bolder;
}
.button-send:hover{
    background-color: rgba(153, 87, 87, 0.041);
}
.footer-pizza{
    margin: 0 !important;
}
h6{
    color: #ffc720
}

.navbar-toggler{
    /* color: white !important; */
    border: rgba(59, 54, 54, 0.226) !important;
}

.footer-pizza{
    padding: 0px !important;
    margin: 0px !important;
}
.icon-shopping:hover{
    color: black !important;
    transition: all 0.3s ease-in;
}